@import "tailwindcss";



/* Customer Rating Scroll */

 
@theme inline {
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
   
    @keyframes scroll {
      to {
        transform: translate(calc(-50% - 0.5rem));
      }
    }
  }

@layer utilities {
  .bg-gradient-br {
    @apply bg-gradient-to-br from-black via-[#0a0a1a] to-purple-900;
  }
  .bg-gradient-tl {
    @apply bg-gradient-to-tl from-black via-[#0a0a1a] to-purple-900;
  }
}